[Unit]
Description=Sunshine idle watchdog
BindsTo=ugs.service
After=ugs.service

[Service]
Type=simple
ExecStart=/usr/bin/sunshine-watchdog
Restart=no
